body{
    padding: 30px;
    color: #333;
  
}

.home {
    width: 1813px;
    height: 971px;
    background: linear-gradient(180deg, rgba(48, 9, 25, 0.1) 0%, rgba(150, 27, 78, 0.1) 100%);
    border: 2px solid rgba(255, 255, 255, 0.35);
    box-shadow: -80px 80px 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 0 0 0 0;
}

.interfacelista{
    display: flex;
    justify-content: space-around;
}

button.hover{
    opacity: 1;
}

h1{
    text-align: center;
}

h2{
    margin-bottom: 10px;
}

p{
    margin: 10px 0;
}

/* LADO ESQUERDO */

.esquerda {
    border-radius: 10px;
    text-align: center;
    height: 971px;
    width: 500px;
    position: absolute;
    color: #140438;
    background: linear-gradient(198.7deg, #FFFFFF 0.26%, rgba(179, 179, 179, 0.1) 99.66%, #9F9F9F 99.74%);
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 270px;    
}


.busca {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    border-bottom: 1px solid #140438;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: "Jura", sans-serif;
    font-size: 30px;
}


.barradepesquisa {
    position: absolute;
    width: 431px;
    height: 55px;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40px);
    border-radius: 60px;
    margin-top: 50%;
    font-weight: 700;
    font-size: 25px;
    color: #140438;
    font-family: "Jura", sans-serif;
    padding: 0px 10px 0px 15px
}

/*secção dos filtros*/
.filtro{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    border: #DDD;
       
}

/*os filtros em si*/
.filtro-opçoes {
    display: flex;
    gap: 3rem;
    border-top: 1px solid #140438;
    margin-bottom: 20px;
    padding-bottom: 20px;
    gap: 10;
    flex: 1 1 0;
}


/*filtro de classificação*/
.classes{
    width: 180px;
    height: 40px;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40px);
    border-radius: 60px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    font-family: "Jura", sans-serif;
    font-size: 25px;
    padding: 0px 10px 0px 15px;
    font-weight: 700;
    color: #140438;
    border: #DDD;

}

.classes option {
    width: 180px;
    height: 40px;
    font-family: "Jura", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #140438;
    border: #DDD;
}


/*filtro de ordem*/
.alfabetico  {
    width: 80px;
    height: 40px;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40px);
    border-radius: 60px;
    color: #140438;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    border: #DDD;
    font-family: "Jura", sans-serif;
    font-size: 22px;
    padding: 0px 10px 0px 15px;
    font-weight: 700;
    color: #140438;
}

/*botão de logout*/
.logout button {
    width: 140px;
    height: 40px;
    background-color: #140438;
    backdrop-filter: blur(40px);
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 500;
    color: white;
    letter-spacing: .1rem;
    font-family: "Jura", sans-serif;
    opacity: 100%;
    
   
}

/*icone do botão de logout*/
.logout button .iconelogout {
    color: white;
    position: absolute;
    padding: 0px 0px 0px -1px;
    font-weight: 700;
    font-size: 25px;
    
    
}


/* LADO DIREITO*/

.direita {
    /*overflow: auto;
    ::-webkit-scrollbar {
        width: 14px;
    }*/
    width: 1138px;
    height: 876px;
    border-radius: 30px;
    color: #140438;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 80px;
    bottom: 4%;
    font-family: "Jura", sans-serif;
    font-size: 24px;
    padding: 0px 10px 0px 15px;
    font-weight: 700;
    justify-content: space-between;
}

/* título TO DO LIST*/
.direitacima {
    position: absolute;
    top: 10px;
    width: 1100px;
    border-bottom: 1px solid #140438;
    height: 58px;
}

/*exibição dos to do*/
.direitameio {
    overflow: auto;
    position: relative;
    ::-webkit-scrollbar {
        width: 14px;
    
    }
    border-top: 1px solid #140438;
    border-bottom: 1px solid #140438;
    height: 563px;
    width: 1100px;
    top: 66px;
    
}

/*espaço de criar as to do´s*/
.direitabaixo {
    
    width: 1100px;
    height: 250px;
    position: absolute;
    bottom: 0px;
    border-top: 0.5px solid#140438;
    
}

/*Novo to do*/
.novo{
    padding-bottom: 5rem;
}









/*apesentação dos todos */
.todo-list{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Jura", sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    font-weight: 700;
    
}

/*cada todo com seus elementos*/
.todo {
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    font-size: 24px;
    font-family: "Jura", sans-serif;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px; 
    border-radius: 30px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.novo{
 
    margin-top: 10px;
}

.caixaTexto input{
    width: 1000px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 60px;
    font-size: 24px;
    color: #140438;
    padding: 20px 0px 20px 60px;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
}


.caixaTexto input::placeholder {
    color: #140438;
    font-size: 22px; 
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}


.caixaDescricao input{
    width: 1000px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 60px;
    font-size: 24px;
    color: #140438;
    padding: 20px 0px 20px 60px;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
}

.caixaDescricao input::placeholder {
    color: #140438;
    font-size: 22px; 
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.criar button{
    width: 200px;
    height: 45px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    margin-bottom: 30px;
    border: #DDD;
    font-size: 20px;
    bottom: 10px;
    font-weight: 400;
    color: white;
    background-color: #140438;
    letter-spacing: 0.1em;
    font-family: "Jura", sans-serif;
    opacity: 100%;
}

.editor{
    background-color:none;
    font-size: 30px;
    font-family: "Jura", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px; 
    border-radius: 30px;
    width: 850px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.caixaedicao input{
    width: 850px;
    height: 40px;
    background-color: #c0baba;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 60px;
    font-size: 24px;
    color: #140438;
    padding: 0px 0px 0px 10px;
}

.novonome{
    font-size: 20px;
}

.novadescricao{
    font-size: 20px;
}

.salvar{
    width: 100px;
    height: 30px;
    border-radius: 60px;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    margin-bottom: 30px;
    border: #DDD;
    font-size: 15px;
    bottom: 10px;
    font-weight: 400;
    color: white;
    background-color: #140438;
    letter-spacing: 0.1em;
}

/*.nomeTodo {
    
    width: 450px;
    margin: 30px 0;
    font-size: 22px;
    
    height: 65px;
    margin: 30px 0px 0px 10px;
    font-weight: 700;
    position: relative;
    
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;

}

.descricaoTodo{
    border-top: 1px solid #29294F;;
    position: relative;
    width: 450px;
    height: 65px;
    margin: 30px 0;


    font-size: 22px;
    width: 100px;
    height: 65px;
    margin: 30px 0px 0px 10px;
    font-weight: 700;
    position: relative;
    height: 96px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;
}*/
/*
.todo{
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;   
    align-items: center;  
} */

.check{
    border: #DDD;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    margin-top: 1%;
    color: #04042a;
}

.certinho{
    padding: 0px 0px 0px 0px;
    font-size: 40px;
    
}


.apagar{
    border: #DDD;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    color: #140438;
}

.lixeira button .apagar{
    padding: 10px;

}

.novo{
    padding-bottom: 1.5rem;
}

.editar{
   
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: #DDD;
    background: rgba(215, 205, 232, 0.35);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    color: #140438;
}

.lapis button .editar{
    padding: 10px;
    position: absolute;
    right: 40px;
    font-size: 40px;
}

input{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 30px;
    
    width: 100%;
    background-color: #DDD;
    
    /*box-sizing: border-box;*/
    
}




/*
.pacotelogin .caixadeentrada {
    position: relative;
    width: 450px;
    height: 65px;
    margin: 30px 0;
}


.caixadeentrada input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 60px;
    font-size: 24px;
    color: #29294F;
    padding: 20px 0px 20px 60px;
}

.caixadeentrada input::placeholder {
    color: #29294F;
    font-size: 22px; 
    letter-spacing: 0.3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
*/

